#!/usr/bin/env groovy

import jenkins.model.Jenkins
import com.cloudbees.plugins.credentials.domains.Domain
import com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey
import com.cloudbees.plugins.credentials.CredentialsScope

instance = Jenkins.instance
domain = Domain.global()
store = instance.getExtensionList(
  "com.cloudbees.plugins.credentials.SystemCredentialsProvider")[0].getStore()

privateKey = new BasicSSHUserPrivateKey.DirectEntryPrivateKeySource(
  '''
{{ private_key }}
  '''
)

sshKey = new BasicSSHUserPrivateKey(
  CredentialsScope.GLOBAL,
  "ssh_key",
  "appserver",
  privateKey,
  "",
  "SSH key to connect to appserver"
)

secretText = new StringCredentialsImpl(
CredentialsScope.GLOBAL,
"ansibe_vaulr",
"Ansible vault password",
Secret.fromString("{{ vault_password }}"))

store.addCredentials(domain, sshKey)
store.addCredentials(domain, secretText)
